---
import { getImage } from '@astrojs/image'
import Banner from '../components/Banner.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'

const bannerPicture = await getImage({
  src: import('../assets/images/labs-background.jpg'),
  width: 1700,
  quality: 90,
  alt: 'about us banner'
}).then((img) => img.src)
---

<Layout navbar title='About'>
  <main>
    <Banner
      text='About Us'
      style={{
        backgroundImage: `url(${bannerPicture})`
      }}
    />
    <Section className='bg-zinc-900 py-28 text-white'>
      <h2 class='pb-4 text-3xl md:text-4xl'>Our Mission</h2>
      <p class='text-xl md:text-2xl font-extralight'>
        To unlock the potential of software to expand human horizons.
      </p>
    </Section>
  </main>
</Layout>
