---
export type Carousel = {
  src: string
  alt: string
}

const { carousel } = Astro.props as { carousel: Carousel[] }
---

<link rel='stylesheet' href='/styles/splide.min.css' />
<div class='splide'>
  <div class='splide__track h-[80vh]'>
    <div class='splide__list'>
      {
        carousel.map(({ src, alt }) => (
          <div class='relative splide__slide flex place-content-center w-full h-full'>
            <img
              src={src}
              alt={alt}
              class='w-full object-cover absolute inset-0 h-screen'
            />
          </div>
        ))
      }
    </div>
  </div>
</div>

<script is:inline src='/scripts/splide.min.js'></script>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    new Splide('.splide', {
      type: 'fade',
      perPage: 1,
      focus: 'center',
      autoWidth: true,
      rewind: true,
      rewindByDrag: true,
      autoplay: true,
      interval: 3000,
      throttle: 300
    }).mount()
  })
</script>
