---
type Navigation = { label: string; href: string; flag?: boolean }

const navigation = await Astro.glob<{ footer: Navigation[] }>(
  '../data/metadata.json'
)

const [{ footer }] = navigation

const pagesInFooter = footer
---

<div class='w-full text-white bg-black py-20'>
  <div
    class='mx-auto max-w-7xl px-4 sm:px-12 2xl:px-0 gap-16 grid grid-cols-1 sm:grid-cols-2 lg:flex lg:flex-wrap justify-between'
  >
    <div class='flex flex-col gap-6 text-sm'>
      <a target='_blank' class='w-16' href='/'>
        <img src='/images/logo.svg' alt='' />
      </a>

      <div class='flex flex-col gap-3'>
        <div class='flex flex-col gap-2'>
          <div class='font-semibold text-zinc-300'>Nausica Beach</div>
          <div class='flex flex-col gap-1 text-xs text-zinc-400 font-light'>
            <div>Via delle nereidi snc</div>
            <div>66023 Francavilla al Mare (CH)</div>
          </div>
        </div>

        <div class='text-zinc-300 text-xs font-light'>
          Copyright © Nausica Beach <span id='copyright-year'></span>
        </div>
        <script is:inline>
          const node = document.getElementById('copyright-year')
          const date = new Date()
          node.textContent = date.getFullYear()
        </script>
      </div>
    </div>

    <div class='flex flex-col gap-6'>
      <div class='text-zinc-400 text-sm'>Sezioni</div>
      <div class='flex flex-col gap-4 font-light'>
        {
          pagesInFooter.map((page) => (
            <a
              class='flex gap-1 items-center text-zinc-100 capitalize text-xs hover:text-orange-500 transition-colors'
              href={page.href}
            >
              {page.label}
              {page.flag && (
                <div class='font-normal uppercase text-[0.6rem] rounded-lg bg-gray-700 tracking-wider text-white px-1.5 py-[0.1rem]'>
                  {page.flag}
                </div>
              )}
            </a>
          ))
        }
      </div>
    </div>

    <div class='flex flex-col gap-6'>
      <div class='flex flex-col gap-4 font-light'></div>
    </div>
  </div>
</div>
