---
export type SectionProps = {
  className?: string
  style?: string | Record<string, string | number>
  id?: string
  narrow?: boolean
}

const { className, style, id, narrow } = Astro.props as SectionProps
---

<section style={style} class:list={['section-padding', className]} id={id}>
  <div class:list={[narrow ? 'container-narrow' : 'container-wide']}>
    <slot />
  </div>
</section>
